.popup_active_open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.4s linear;
  -o-transition: visibility 0s, opacity 0.4s linear;
  transition: visibility 0s, opacity 0.4s linear;
}