.profile__name {
  margin: 22px 0 0 0;
  padding: 0;
  font: 500 42px/1.14 'Inter', sans-serif;
  color: #fff;
  position: relative;
}

@media (max-width: 709px) {
  .profile__name {
    font-size: 27px;
    letter-spacing: 1.21;
    /*position: relative;*/
  }
}