.profile__name {
  margin: 27px 0 0 0;
  padding: 0;
  font: 500 42px/1.14 'Inter', sans-serif;
  color: #fff;
}

@media (max-width: 709px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.21;
  }
}